<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @release.year %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @release.quantity %>
</p>

<p>
  <strong>Units:</strong>
  <%= @release.units %>
</p>

<%= link_to 'Edit', edit_release_path(@release) %> |
<%= link_to 'Back', releases_path %>
